.main {
  height: 75vh;
  width: 70vw;
  position: relative;

  margin: auto;
  top: 10%;

  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.left {
  position: relative;
  width: 30vw;
  height: 60vh;
  top: 1%;
  left: 3%;
  border-color: white;
  border-width: 0.1vh;
  border-style: solid;
  border-radius: 16px;
}
.right {
  position: relative;
  top: -79%;
  width: 30vw;
  height: 60vh;
  left: 55%;
  border-color: white;
  border-width: 0.1vh;
  border-style: solid;
  border-radius: 16px;
}
.overview {
  margin: 0;

  background-color: white;
  margin: 0;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  position: relative;
  text-align: center;
  color: purple;
  font-weight: 300;
}
.stats {
  margin: 0;

  background-color: white;
  margin: 0;
  font-weight: 300;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  text-align: center;

  color: purple;
}
.survival {
  position: relative;
  top: -2%;
  left: 40%;
  color: white;
  font-weight: 500;
}
.congrats {
  position: relative;
  color: white;
  top: -2%;
  left: 30%;
  font-weight: 500;
}
.coins {
  position: relative;
  top: -3%;
  left: 25%;
}
.score {
  position: relative;
  top: -23%;
}
.tilteddog {
  position: relative;
  top: -25%;
  left: 30%;
}
.firework_2 {
  position: relative;
  top: -50%;
  left: 30%;
}
.firework_1 {
  position: relative;
  top: -30%;
  z-index: -1;
  left: -30%;
}
.usern {
  position: relative;
  color: white;
  top: -27%;
  left: 40%;
  font-weight: 700;
}
.rankcircle {
  position: relative;
  top: -30%;
  left: 5%;
  background-color: purple;
  padding: 8px;
  height: 8vh;
  text-align: center;
  width: 8vw;
  border-radius: 50%;
}
.circle {
  position: relative;
  top: -30%;
  left: 10%;
  height: 10vh;
}
.circlerank {
  position: relative;
  color: white;
  top: -40%;
  left: -1%;
}
.circleno {
  position: relative;
  font-size: larger;
  font-weight: 600;
  top: -45%;
  left: 15%;
  color: yellow;
}
.progressbar {
  position: relative;
  left: 19%;
  z-index: -1;
  top: -60%;

  height: 6vh;
  width: 20vw;
  border-style: solid;
  border-color: white;
  border-radius: 36px;
  border-width: 2px;
}
.progress {
  position: relative;
  top: -69%;
  z-index: -1;
  left: 20%;
  height: 4vh;
  width: 15vw;
  background-color: yellow;
  border-radius: 36px;
}
.players {
  position: relative;
  top: 10%;
  left: 40%;
  color: white;
  font-weight: 500;
}
.tokens {
  position: relative;
  top: 10%;
  left: 40%;
  color: white;
  font-weight: 500;
}
.transfer {
  position: relative;
  width: 8vw;
  top: -75%;
  left: 20%;
  background-color: yellow;
  padding: 10px;
  border-radius: 26px;
  color: purple;
  border: none;
}
.exit {
  position: relative;
  top: -75%;
  left:50%;
  width: 8vw;
  padding: 10px;
  border-radius: 26px;
  background-color: transparent;
  color: white;
  border-color: white;
}
.again {
  width: 8vw;
  position: relative;
  top: -75%;
  left: 30%;
  background-color: transparent;
  color: white;
  padding: 10px;
  border-radius: 26px;
  border-color: white;
  border-width: 2px;
}
@media only screen and (max-width: 720px) {
    .left1,.right1{
        display: none;
    }
}
@media only screen and (max-width: 720px) {
    .main{
        width: auto;
        margin: 0%;
        padding: 0%;
        display: block;
    }
    .left{
        width: 40%;
        margin: 0%;
        padding: 0%;
        display: block;

    }
    .right{
        
            width: 40%;
            margin: 0%;
            padding: 0%;
        display: block;

    }
    /* .time{
        left:15%;
        top:0;
    }
    .survival,.players,.tokens{
        left:30%;
    }
    .survival{
        top: 0;
    }
    .coins{
        
    } */
    .congrats,.coins,.score,.tilteddog,.firework_1,.firework_2,.circle,.circlerank,.circleno,.progressbar,.progress{
        display: none;
    }
    .survival,.time,.players,.tokens,.eight,.onezerotwo,.usern{
        display: none;
    }
    .transfer,.again,.exit{
        width: auto;
    }

}