.bg_image {
    background-image: url("/public/images/Image\ 34.png");
    background-repeat: no-repeat;
    object-fit: contain;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.logo {
    height: 35vh;
    /* width: 30vw; */
    position: absolute;
    top: 12%;
    left: 35%;
    display: flex;
    margin: auto;
}

.imglogo {
    height: 50vh;
    position: absolute;
    top: 33%;
    left: 34%;
    display: flex;

}

.play {
    color: purple;
    background-color: white;
    height: 10vh;
    width: 10vw;
    padding: 3px;
    border-radius: 16px;
    cursor: pointer;
    border-color: transparent;
    position: absolute;
    top: 85%;
    left: 45%;
    /* display: flex; */
}

@media only screen and (max-width: 480px) {
    .imglogo,.logo {
        /* margin: auto; */
        height: 200px;
        position: inherit;
    }
    
}
@media only screen and (max-width: 720px) {
    .imglogo,.logo {
        /* margin: auto; */
        height: 200px;
        /* position: inherit; */
    }
    .imglogo{
        margin: auto;
    }
    .logo{
        margin: auto;
        padding-top: 6%;
    }    
    .play {
        /* top: 50%; */
        top: auto;
        margin: auto;
        padding: 1px;
        margin-top: 5%;
        height: 40px;
        width: 100px;
        left: 38%;
        /* padding: 0.5px; */
        border-radius: 5px;
        overflow: hidden;
    }
    .bg_image {
        /* height: 10%; */
        height: 100%;
        padding-top: 20px;
        padding-bottom: 100px;
        
    }
}